.questions-layout {
  .progress-bar {
    width: 100%;
    background: $gray;
    height: 8px;

    .active {
      background: $secondary;
      transition: 1s;
      height: 100%;
    }
  }

  .content {
    padding: 30px 20px;
    width: 70%;
    margin: 40px auto;
    @include responsive(xs) {
      margin: 10px auto;
      padding: 20px 10px;
      width: 90%;;
    }
    #logo {
      color: $primary;
      margin-bottom: 70px;
    }
  }
}
