nav {
  &#navigation {
    display: flex;
    gap: 25px;
    position: relative;
    align-items: center;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -10px;
      display: block;
      width: 66px;
      height: 2px;
      background-color: $yellow;
    }

    li {
      font-size: 1.2rem;
      a {
        color: $white;
        font-weight: 300;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}
