nav {
  &#navigation {
    display: flex;
    gap: 25px;
    position: relative;
    align-items: center;
    @include responsive(xs) {
      flex-direction: column;
      gap: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -10px;
      display: block;
      width: 66px;
      height: 2px;
      background-color: $yellow;

      @include responsive(xs) {
        display: none;
      }
    }

    li {
      font-size: 1.2rem;

      @include responsive(xs) {
        &:last-child a{
          color: $yellow;
        }
      }
      a {
        color: $white;
        font-weight: 300;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}
