header {
  background: url(/images/header.jpg) no-repeat center center;
  background-size: cover;
  height: 700px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;

  #header {
    background: rgba($color: #000000, $alpha: 0.6);
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;

    .container {
      width: $container-size;
      display: flex;
      flex-wrap: wrap;
      margin: 0px auto;
      align-items: flex-start;
      height: 100%;

      @include responsive(xs) {
        width: 100%;
      }
      .header {
        width: $container-size;
        display: flex;
        justify-content: space-between;
        padding: 30px 50px;

        @include responsive(xs) {
        }
      }
      section {
        margin-top: -70px;
      }
    }
  }
}
