// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Source+Serif+4:wght@400;600&display=swap');
$font-normal: 'Inter', sans-serif;
$font-heading: 'Source Serif 4', serif;

// Weights
$weight-bold: 600;
$weight-normal: 400;

// Colors
$primary: '#001427';
$secondary: '#708D81';
$white: '#ffffff';
$black-red: '#8D0801';
$red: '#BF0603';
$yellow: '#F4D58D';

// Sizes
$container-size: 980px;
