// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&family=Source+Serif+4:wght@400;600&display=swap');
$font-normal: 'Inter', sans-serif;
$font-heading: 'Source Serif 4', serif;

// Weights
$weight-bold: 600;
$weight-normal: 400;

// Colors
$primary: #001427;
$secondary: #708d81;
$white: #ffffff;
$red: #bf0603;
$dark-red: #8d0801;
$yellow: #f4d58d;
$gray: #f9fafb;

// Sizes
$container-size: 1140px;
